<div class="wrapper">
  {{> admin-sidenav}}
  <div class="content-page">
    <div class="content">
      {{> admin-topnav}}

      <!-- Start Content-->
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h4 class="page-title">Product / Unit</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      <div class="row mb-2">
                          <div class="col-sm-12">
                              <button class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#add-modal"><i class="mdi mdi-plus-circle me-2"></i> Add Unit</button>
                          </div>
                      </div>

                      <div class="table-responsive">
                          <table class="table table-centered table-striped dt-responsive nowrap w-100" id="data-datatable">
                              <thead>
                                  <tr>
                                      <th>Unit name</th>
                                      <th style="width: 75px;">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {{#each unit}}
                                  <tr id="{{this._id}}">
                                      <td>
                                         {{this.name}}
                                      </td>
                                      <td>
                                          <a class="action-icon" data-bs-toggle="modal" data-bs-target="#update-modal-{{this._id}}"> <i class="mdi mdi-square-edit-outline"></i></a>
                                          <a class="action-icon" onclick="delete_data('/admin/products/unit/delete/','{{this._id}}')"> <i class="mdi mdi-delete"></i></a>
                                      </td>
                                  </tr>
                                  {{/each}}
                              </tbody>
                          </table>
                      </div>
                  </div> <!-- end card-body-->
              </div> <!-- end card-->
          </div> <!-- end col -->
      </div>
      <!-- end row -->

      </div>
      <!-- container -->
    </div>
  </div>
</div>
<!-- ADD MODAL -->
<div id="add-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center my-4">
                  <span><img src="/assets/images/logo-dark.png" alt="" height="18"></span>
                </div>
                  <form action="/admin/products/unit/add" method="POST">
                  <div class="mb-3">
                      <label for="name" class="form-label">Unit name</label>
                      <input name="name" class="form-control" type="text" required>
                  </div>
                  <div class="mb-3 text-center">
                      <button class="btn btn-primary">Add unit</button>
                  </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- UPDATE MODAL -->
{{#each unit}}
<div id="update-modal-{{this._id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <div class="text-center my-4">
                <span><img src="/assets/images/logo-dark.png" alt="" height="18"></span>
              </div>
                <form action="/admin/products/unit/update" method="POST">
                  <div class="mb-3">
                    <input name="_id" type="hidden" value="{{this._id}}">
                      <label for="name" class="form-label">Unit name</label>
                      <input name="name" class="form-control" type="text" value="{{this.name}}" required>
                  </div>
                  <div class="mb-3 text-center">
                      <button class="btn btn-primary">Update unit</button>
                  </div>
                </form>
          </div>
      </div>
  </div>
</div>
{{/each}}